<div class=container>
  <div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon py-4 px-0">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class='d-flex align-items-center justify-content-center'>
          <%= image_tag "CIRCLE_logo.png"%>
          <h3 class="m-0 ps-2">CIRCLE</h3>
        </div>
      <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <div class="d-flex align-items-center">

          <li class="nav-item search me-4 pt-1">
                <%= form_with url: root_path, method: :get, class: "d-flex" do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Search..." %>
                  <%= button_tag( class: "btn btn-light rounded-4") do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
          </li>
        </div>

        <% if user_signed_in? %>
         <div class ="d-flex align-items-center justify-content-center">
          <li class="nav-item active">
            <%# Add the my dashboard or my profile link here in the link_to %>
            <p class="pe-3 fw-normal"><%= current_user.username %></p>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://www.caribbeannationalweekly.com/wp-content/uploads/2020/09/Female-Avatar-300X300-01.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Upload item", "/items/new" , class: "dropdown-item" %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        </div>
        <% else %>
          <div class="d-flex pt-1">
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-link text-dark pe-4 text-decoration-none" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "btn btn-dark rounded-4" %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
