<div class="container bs5-grid-row p-0">
  <%= simple_form_for [@item] do |f| %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :description %>
    <%= f.input :size, :collection => %w[XS S M L XL XXL] %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit, class: "btn btn-primary rounded-4 mb-4" %>
  <% end %>
</div>
