  <div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544957992-20514f595d6f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container text-center" >
      <h1>CIRCLE</h1>
      <p>The circular fashion renting experience</p>
    </div>
  </div>

<h2>Products</h2>
<div class="mt-5 d-flex justify-content-between">
    <% @items.each do |item| %>
      <div class="card border-light mb-3 rounded-4" style="width: 18rem;">
        <%= cl_image_tag item.photo.key %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text"><%= item.price %></p>
          <%= link_to "Rent", item_path(item), class: "btn btn-dark rounded-4" %>
        </div>
      </div>
    <% end %>
</div>
