<div class="container">

  <div class="d-flex mt-4">

    <div class="w-50">
      <% if @item.photo.attached? %>
        <%= cl_image_tag @item.photo.key, height: 400, width: 400, crop: :fill %>
      <% else %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="No image available" class="img-fluid img-thumbnail rounded-4">
      <% end %>
    </div>

    <div class="card w-50 px-4 border border-0">
      <div class="card-body">
        <h2 class="pb-4 mt-0"><%= @item.name.capitalize %></h2>
        <h5 class="pb-4 fw-lighter text-muted">Brand: <%= @item.brand %></h5>
        <h5 class="pb-4 fw-lighter text-muted">Size: <%= @item.size %></h5>
        <h5 class="pb-4 fw-light">Rent from: EUR <%= @item.price %> / day</h5>
        <p class="pb-4 text-muted"><%= @item.description %></p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Request rental
        </button>

        <!-- Modal -->
        <% if user_signed_in? %>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Request rental</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  </p>Your rental has been requested!<p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark rounded-4" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% else %>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Request rental</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    </p>You need to log in to request a rental<p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light rounded-4" data-bs-dismiss="modal">Close</button>
                    <%= link_to "Log in", new_user_session_path, class: "btn btn-dark rounded-4" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
