<div class="d-flex row">
  <div  class="col-sm-12 col-lg-6 mt-4">
    <% if @item.photo.attached? %>
      <%= cl_image_tag @item.photo.key, id:"image-show", width: 1200, class: "img-fluid" %>
    <% else %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="No image available" class="img-fluid img-thumbnail rounded-4">
    <% end %>
  </div>
  <div class="card border border-0 col-sm-12 col-lg-6 mt-4">
    <div class="card-body p-0">
      <h2 class="pb-4 mt-0"><%= @item.name.capitalize %></h2>
      <h5 class="pb-3 fw-lighter text-muted">Brand: <%= @item.brand %></h5>
      <h5 class="pb-2 fw-lighter text-muted">Size: <%= @item.size %></h5>
      <p class="pb-3 text-muted"><%= @item.description %></p>
      <h5 class="pb-4 fw-light">Rent from: <%= @item.price %> EUR / day</h5>

      <% if @item.user == current_user %>
        <p class="pb-2 fw-normal">This beautiful item is yours! </p>
        <%= link_to "Edit", edit_item_path(@item), class: "btn btn-dark rounded-4" %>
        <%= link_to "Delete", item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark rounded-4" %>

      <% else %>
        <%# Here we want to show a form with the dates the user wants to rent %>
        <div >
          <%= simple_form_for [@item, @rental] do |f| %>
            <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
            <%= f.submit "Request rental", class: "btn btn-dark rounded-4" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
